<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/cinema-film-festival-movie-poster-background_1017-33461.jpg?w=2000&t=st=1678444985~exp=1678445585~hmac=d1f5a0edc5f7af750060164b128d218d5cb68b8e96fc426e2725376f3425cd7d);">
  <div class="container">
    <h1>Deltoro Theatre</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>
