.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s background-color ease;
}

.navbar-lewagon-grey {
  background-color: rgb(92, 92, 92);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
